<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Names</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Baby Names</h1>
        <nav>
            <a href="{{ url_for('index') }}">Главная</a>
            <a href="{{ url_for('national_names') }}">NationalNames</a>
            <a href="{{ url_for('state_names') }}">StateNames</a>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>